body {
    background-color: #fff391;
}

.total {
    background-color: aliceblue;
}


h1 {
    font-family: 'Laila', sans-serif;
}

button {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* position: absolute; */
    bottom: 0;
    height: 5vh;
    /* opacity: 70%; */
    /* width: 100%; */
}

button:hover {
    box-shadow: 0 0 10px 3px #fff2f8,
        inset 0 0 10px 3px #fff2f8;
    transition: .25s;
}

.check-out {
    height: 65vh;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
}


.card {
    border: 2px whitesmoke;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    padding-left: 0;
    padding-right: 0;
}

.code {
    font-family: 'IBM Plex Mono', mono space;
    font-size: 42px;
}

.menu-img {
    height: 20vh;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
    object-position: center;
    position: relative;
    /* padding: .5em; */
}

.item-name {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 0;
    height: 5vh;
    opacity: 70%;
    width: 100%;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .25s;
}

.text-title {
    font-family: 'Pacifico', cursive;
}